# Direct requirements:
babel~=2.17.0
dash~=3.0.4  # v2.18.2 works too; v3.0.* had tooltip bug that fixed in 3.0.3, see https://github.com/plotly/dash/issues/3269
dash-bootstrap-components~=2.0.3  # dbc 1.7.* compatible with dash 2.*; dbc 2.0 compatible with dash 3.* (not with 2.*)
dash-cytoscape~=1.0.2
fastexcel~=0.13.0
polars~=1.27.1
polib~=1.2.0
pydbml~=1.2.0
# Indirect requirements (should automatically install as dependencies of direct requirements):
blinker~=1.9.0
certifi>=2025.1.31
charset-normalizer~=3.4.1
click~=8.1.8
Flask~=3.0.3  # v2.18.2 works too; in Docker, dash 2.18.2 and 3.0.4 depends on Flask<3.1 and >=1.0.4
idna~=3.10
importlib_metadata~=8.6.1
itsdangerous~=2.2.0
Jinja2~=3.1.5
MarkupSafe~=3.0.2
narwhals~=1.35.0  # for plotly>=6.0.0
nest-asyncio~=1.6.0
plotly~=6.0.1  # works with 5.24.1 too
pyarrow~=19.0.1
pyparsing~=3.2.3
requests~=2.32.3
retrying~=1.3.4
six~=1.17.0
typing_extensions~=4.13
urllib3~=2.3.0
zipp~=3.21.0
Werkzeug~=3.0.6  # in docker, dash 2.18.2 and 3.0.4 depends on Werkzeug<3.1
# For Docker only:
gunicorn~=23.0.0
wheel~=0.45.1
