body {
    font-size: 80%;
}
.dash-dropdown .Select-control {
    font-size: 90%;
}
.dash-dropdown .Select-menu-outer {
    font-size: 90%;
}
.resizable-row, .resizable-col {
    resize: both;
    overflow: auto;
    position: relative;
}
